#lista_elevi_wrapper{
    background-color: greenyellow;
}
#adaugadetalii{
    border: 1px solid black;
    padding: 5px;
    margin-bottom:20px;   
}
.sortare{
    background-color: green;
    border-radius: 10px;

    
}
#tabel{
    border: 1px solid black;
    padding: 5px;
}
table{
    table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px
}
